* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
}

.card {
  background-color: blue;
  color: white;
  padding: 20px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

button.showModalButton {
  height: 30px;
  border-radius: 10px;
  background-color: lightblue;
  border: 1px solid lightblue;
  margin: 20px;
}
button.showModalButton:hover {
  border: 2px solid blue
}

button.del {
  background-color: red;
  height: 20px;
  border: 1px solid red;
  border-radius: 10px;
  margin-top: 20px;
}
button.del:hover {
  background-color: black;
  border: 1px solid black;
  color: red;

}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button.readstatus {
  margin-top: 10px;
  color: black;
  background-color: white;
  border: 1px solid black;
}